/* communs styles */
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Raleway:ital,wght@1,500&family=Roboto:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Raleway:ital,wght@1,500&family=Roboto+Serif:ital,wdth,wght@0,99.6,392;1,99.6,738&family=Roboto:wght@300;700&display=swap');
*{
	box-sizing: border-box; 
	font-family: 'Roboto';
}
body {
	background-color: rgba(213,248,236,.9);
}

/* nav style */
#navBg {
	background-color: rgba(161, 247, 217, 0.8);	
}
.navItems{
	background-image: linear-gradient(currentColor, currentColor);
	background-position: 10% 90%;
	background-repeat: no-repeat;
	background-size: 0% 2px;
	transition: background-size .3s;
} 
	.navItems:hover {
		background-size: 90% 2px;
	}

/* footer style */
.footerBg {
	background-image: url(../img/fondo5.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
.footerImg {
	width: 20px;
	margin-right: 15px;
	margin-left: 20px;
}
.footerLogo {
	width: 200px;
}

/* -----> index styles <----- */
.imgPpal {
	position:relative;
	display: inline-block;
	text-align: center;
}
	.txtImg1 {
		position: absolute;
		top: 4%;
		left: 5%;
		color: white;
		font-size: 5vw;
		font-family: 'Roboto+Serif:ital,wdth,wght@0,99.6,392';
	}
	.txtImg2 {
		position: absolute;
		top: 15%;
		left: 8%;
		color: white;
		font-size: 8vw;
		font-family: 'Roboto Serif';
		font-weight: 1,99.6,738;
		font-style: italic;
	}
	.txtImg3 {
		position: absolute;
		top: 31%;
		left: 5%;
		color: white;
		font-size: 6vw;
		font-family: 'Roboto+Serif:ital,wdth,wght@0,99.6,392';
	}
.textTitulo {
	font-family: 'Raleway';
	background-repeat: repeat;
}
.paddingStart {
	margin-left: 6.25%;
}

/* -----> historia styles <----- */
.historiaTxt {
	text-align: justify;
}
.historiaBg {
	background-color: rgba(255, 255, 255, 0.279);
}
.imgHistoria {
	
	box-shadow: 0px 0px 6px 5px rgba(138, 201, 192, 0.5);
}





/* ----- ESTILOS NO MODIFICADOS ----- */


/* -----> pedidos styles <----- */
.bodypedidos {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas: "header" "presupuesto" "footer";
}
	.formpresupuesto {
		grid-area: presupuesto;
	}

.pedidos {
	text-align: center;
	font-size: 2.2rem;
	margin-top: 20px;
}	
.pedidos__form-datos {
	margin: 20px 5%;
	padding: 10px 0px;
	text-align: center;
	font-size: 1.8rem;
}
	.pedidos__form-datos input{
		width: 100%;
		margin-block: 10px;
	}
	.pedidos__form-datos legend {
		padding-inline: 20px;
	}
.pedidos__form-productos {
	margin-bottom: 20px;
	margin-inline: 5%;
	padding: 10px 0px;
	text-align: center;
	font-size: 1.8rem;
	
}
	.pedidos__form-productos legend {
		padding-inline: 20px;
	}
.pedidos__form-opcionesprod{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 20px;
}
	.pedidos__form-opcionesprod div label {
		padding-left: 10px;
		padding-right: 30px;
	}
.pedidos__form-codprod p {
	font-size: 1.1rem;
	font-style: italic;
	padding-bottom: 10px;
}
.pedidos__form-entrega {
	margin-bottom: 20px;
	margin-inline: 5%;
	padding-block: 10px;
	
	text-align: left;
	font-size: 1.8rem;
}
	.pedidos__form-entrega legend {
		padding-inline: 20px;
		text-align: center;
	}
	.pedidos__form-opcionesent {
		padding-left: 10%;
	}
	.pedidos__form-domicilio{
		text-align: center;
	}
	.pedidos__form-maps {
		text-align: center;
	}
.pedidos__mensaje-titulo {
	display: flex;
	flex-direction: column;
	font-size: 1.8rem;
	justify-content: center;
	padding-bottom: 40px;
}
	.pedidos__mensaje-titulo label {
		align-self: center;
	}
	.pedidos__mensaje-titulo textarea {
		width: 300px;
		align-self: center;
	}
	.pedidos__mensaje-titulo div {
		width: 100px;
		align-self: center;
	}

/* -----> clientes styles <----- */
.bodyclientes {
	display: grid;
	grid-template: 1fr auto;
	grid-template-areas: "header" "clientestitulo" "mainclientes" "footer";
}
	.clientestitulo {
		grid-area: clientestitulo;
	}
	.mainclientes {
		grid-area: mainclientes;
	}

.clientestitulo h2{
	text-align: center;
	font-size: 2.2rem;
	margin-top: 20px;
}
.mainclientes {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
	.clientes {
		margin-top: 20px;
		margin-bottom: 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
		.clientes div ul{
			list-style: none;
		}
		.clientes__datos-info {
			text-align: center;
			font-size: 1.8rem;
		}
		.clientes__datos-logo {
			width: 150px;
			height: 150px;
			object-fit: cover;
		}

/* -----> productos styles <----- */
.bodyproductos {
	display: grid;
	grid-template: 1fr auto;
	grid-template-areas: "header" "productostitulo" "filtro" "mainproductos" "volver" "footer";
}
	.productostitulo {
		grid-area: productostitulo;
	}
	.productos__opciones-filtro {
		grid-area: filtro;
	}
	.mainproductos {
		grid-area: mainproductos;
	}
	.volver {
		grid-area: volver;
	}
.productostitulo h2{
	text-align: center;
	font-size: 2.2rem;
	margin-top: 20px;
}
.productos__opciones-filtro {
	text-align: center;
	font-size: 1.4rem;
	margin-top: 20px;
	margin-bottom: 20px;
}
	.productos__opciones-filtro li {
		margin-block: 5px;
	}
		.productos__opciones-filtro li a {
			text-decoration: none;
			list-style: none;
			color: black;
			margin-bottom: 20px;
		}
		.productos__opciones-filtro li a:hover{
			color: green;
		}
.mainproductos {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
	.productos__opciones {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
		.productos__opciones h3 {
			font-size: 2.2rem;
			margin-bottom: 30px;
			margin-top: 20px;
		}
		.productos {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
			.productos img{
				width: 60%;
				height: 60%;
				object-fit: cover;
				margin-bottom: 10px;
				border-radius: 3px;
				box-shadow: 0px 0px 6px 5px rgba(138, 201, 192, 0.5);
			}
			.productos p {
				padding-inline: 10%;
				margin-bottom: 20px;
			}	
.volver {
	font-size: 1.6rem;
	text-align: center;
	margin-bottom: 20px;
}
	.volver a {
		color: gray;
	}

@media screen and (min-width: 768px){

	/* -----> modificaciones en: pedidos stayles <----- */
	.bodypedidos {
		grid-template-columns: 1fr 4fr 1fr;
		grid-template-areas: "header header header" ". presupuesto ." "footer footer footer";
	}
	
	/* -----> modificaciones en: clientes styles <----- */
	.bodyclientes {
		grid-template-columns: 20vw 60vw 20vw;
		grid-template-rows: auto;
		grid-template-areas: "header header header" "clientestitulo clientestitulo clientestitulo" ". mainclientes ." "footer footer footer";
	}
		.clientes {
			flex-direction: row;
			justify-content: flex-start;
			border: double;
		}
		.clientes:hover {
			background-color: rgba(240, 245, 243, 0.575);
		}
			.clientes__datos-info {
				text-align: left;
				padding-left: 20px;
				padding-right: 10px;
			}
			.clientes__datos-logo {
				margin-block: 5px;
				margin-inline: 20px;
			}
	/* -----> modificaciones en: productos styles <----- */
	.bodyproductos {
		display: grid;
		grid-template-columns: 1fr 4fr 1fr;
		grid-template-rows: auto;
		grid-template-areas: "header header header" ". productostitulo ." "filtro mainproductos volver" "footer footer footer";
	}
		.productos__opciones-filtro {
			text-align: left;
			margin-left: 20px;	
		}
		.volver {
			display: flex;
			justify-content: center;
			align-items: flex-end;
		}
		.productos__opciones {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-evenly;
		}
			.productos__opciones h3 {
				width: 100%;
				text-align: left;
				
			}
			.productos__opciones p {
				width: 100%;
				text-align: justify;
				padding-inline: 5%;
				margin-bottom: 20px;
			}
			.productos {
				width: 25%;
			}
				
}	

