//variables: sizing
$w-15: 15%;
$w-20: 20%;
$w-25: 25%;
$w-30: 30%;
$w-40: 40%;
$w-45: 45%;
$w-50: 50%;
$w-60: 60%;
$w-65: 65%;
$w-70: 70%;
$w-75: 75%;
$w-80: 80%;
$w-100: 100%;

//map: paleta de colores
$paleta: (
    'color_1': rgba(161, 247, 217, 0.8),
    'color_2': rgba(213,248,236,.9),
    'color_3': rgba(255, 255, 255, 0.496),
    'color_4': #212529,
    'color_5': #198754,
    'color_6': grey,);


//mixing
@mixin text($font-size, $line-height, $text-align){
    font-size: $font-size;
    line-height: $line-height;
    text-align: $text-align;
}
@mixin position($position, $top, $left, $font-family, $font-size){
    position: $position;
    top: $top;
    left: $left;
    font-family: $font-family;
    font-size: $font-size;
    color: white;
}
@mixin flex($direction, $wrap, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;
}
