@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Raleway:ital,wght@1,500&family=Roboto+Serif:ital,wdth,wght@0,99.6,392;1,99.6,738&family=Roboto:wght@300;700&display=swap');
$fontMain: 'Roboto', sans-serif;
$fontTitle: 'Raleway';
$fontUno: 'Roboto+Serif:ital,wdth,wght@0,99.6,392';
$fontDos: 'Roboto Serif';

